/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  font-size: 20px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  /* max-width: 40px; */
  width: 15%;
  margin-right: 20px;
  border-radius: 50%;
  border-color: #000;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.chat{
  flex: content;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(0, -50%);
  margin: 10px;
  padding-inline: 2%;
  border-radius: 15px 50px 50px 50px;
}

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(3*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%)
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
}
.img-right {
  float: right;
  margin-left: 20px;
  margin-right:0; 
}
.img-left {
  float: left;
  margin-left: 0;
  margin-right:20px;
}

button {
  padding: 20px;
  margin: 20px 0 0 20px;
  border-radius: 50px 50px 50px 50px;
  border-color: #0000;
  background-color: lightgreen;
}

button a{
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 22px;
  text-decoration: none;
}

button:hover{
  text-shadow: 2px 2px 4px black;
  background-color: red;
}