{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}Shrink.io - Page Not Found (404){% endblock %} {% block content %}
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/form.css') }}"
  />
</head>

<div class="grid-container">
  <div class="container sio-container">
    <h2 style="font-size: 80px">Page Not Found (404)</h2>
    <p style="font-size: 30px">{{ err_msg }}</p>
    <img src="{{ url_for('static', filename='image/404_img.png') }}" class="img-404"/>

    {% block page_content %}{% endblock %}
  </div>
</div>
{% endblock %}
