{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chat_side_navbar.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on('click', '#msbo', function(){
            $('#msb').toggleClass('msb-x');
        });
        
         $(document).ready(function(){
            $('.prev-chat').hover(function() {
                $(this).find('.edit-chat-name').toggle();
            });

            // Edit name of chat conversation by sending the new name to the server throw GET call for chat-edit
            $(".edit-chat-name").click(function () {
                editButtonLogic($(this));
            });

            $('.name_input').keypress(function(event) {
                if (event.which === 13) {
                    // alert("key " + event.which + ` ${$(this).parent().find('.edit-chat-name')}`);
                    // 13 is the key code for Enter
                    // editButtonLogic($(this).parent().find('.edit-chat-name'));
                    // $(this).parent().siblings().find('.edit-chat-name').click();
                    editButtonLogic($(this).parent().find('.edit-chat-name'));
                }
            });
        });

        function editButtonLogic(elem) {
            var $a = elem.parent().find("a")
            var id = $a.attr("id");
            var name = $a.attr("name");
            var $span = elem;

            $a.attr('href', function(_, currentHref) {
                return currentHref === '#' ? `/get_chat/${id}` : '#';
            });

            if ($a.attr('href') === '#') {
                $a.find("input").css("border", "2px solid #8a8a8a");
                $a.find("input").css("border-radius", "4px");
                $a.find("input").prop("readonly", false);
                
                // TODO: Fix replace icon makes display to be none
                //$span.removeClass('fa-edit').addClass("fa-thumbs-up");
            }
            else {                    
                $a.find("input").css("border", "none");
                $a.find("input").prop("readonly", true);
                
                //$span.removeClass("fa-thumbs-up").addClass("fa-edit");

                new_name = $a.find("input").val()

                /* Send request to change name of this chat  
                 * Make the call only if the name was changed 
                 */
                if (new_name != name) {
                    $.get("/chat-edit", { name: new_name, id: id }); 
                    $a.attr('name', new_name);
                }
            }
        }
        
        function barIconAnimate(x) {
            x.classList.toggle("change");
        }

    </script>
</head>

<div class="slide-button">
    <div class="bars-container change" id="msbo" onclick="barIconAnimate(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>

<!--msb: main sidebar-->
<div class="msb" id="msb" style="padding-top:65pt; background:#222;">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="brand-wrapper">
                <!-- Brand -->
                <div class="brand-name-wrapper">
                    <a class="navbar-brand" href="/chat">
                        New Chat
                    </a>
                </div>
            </div>
        </div>

        <!-- Main Menu -->
        <div class="side-menu-container">
            <ul class="nav navbar-nav">
                {% for chat in previous_chats %}
                    <li class="prev-chat" style="white-space: nowrap; padding-top:10pt; padding-bottom:10pt;">
                        <a href="{{ url_for('views.get_chat', chat_id=chat.id) }}" id="{{ chat.id }}" style="display:inline;" name={{ chat.name }} draggable="false">
                            <i class="fas fa-duotone fa-comments"></i> 
                            {{ name_form.name(value=chat.name, style="all:unset; width:55%;", class="name_input", readonly=True) }}
                        </a>
                        <button id="editButton" style="margin-left: 0pt;" class="fas fa-edit edit-chat-name" style="display: inline; color: white;"></button>
                    </li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>  
</div>

{% endblock %}