{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/chat.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script type="text/javascript">
        $(document).on('click', '#msbo', function(){
            //alert("hii");
            $('#msb').toggleClass('msb-x');
        });
    </script>

    <style>
        .msb-x {
            visibility: hidden;
        }
    </style>
</head>

<div class="left-menu" style="z-index: 1; height:auto; width:auto">
    <div style="padding-top:30pt; padding-left:3pt; margin:0;">
        <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
    </div>
</div>

<!--msb: main sidebar-->
<div class="msb left-menu" id="msb" style="padding-top:65pt;">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="brand-wrapper">
                <!-- Brand -->
                <div class="brand-name-wrapper">
                    <a class="navbar-brand">
                        Chat History
                    </a>
                </div>
            </div>
        </div>

        <!-- Main Menu -->
        <div class="side-menu-container">
            <ul class="nav navbar-nav" id="chat-list">
                {% for chat in previous_chats %}
                    <li><a href="{{ url_for('views.get_chat', chat_id=chat.id) }}"><i class="fa-duotone fa-comments"></i> {{ chat.name }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>  
</div>
{% endblock %}