{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#image').change(function() {
              displayImage();
            });
          });
        
          function displayImage() {
            var input = $('#image')[0];
            var title = $('#previewH3');
            var preview = $('#previewImage');
        
            if (input.files && input.files[0]) {
              var reader = new FileReader();
        
              reader.onload = function (e) {
                preview.attr('src', e.target.result);
                preview.css('display', 'block');
                title.css('display', 'block');
              };
        
              reader.readAsDataURL(input.files[0]);
            }
          }
    </script>
</head>

<div class="grid-container">
    <div class="sio-form">
        <h1>Register</h1>
        {{ wtf.quick_form(form) }}
    </br>
        <div class="slideshow-login">
            <h3 id="previewH3" style="display: none; padding-right:50pt;">Image preview:</h3>
            <img id="previewImage" style="display: none; width: 300pt; height: auto;">
        </div>
    </div>
    <br>
    <div class="alert alert-danger" role="alert">Note: The next page will show sensitive information. Make sure nobody can see your screen before pressing the Register button.</div>
</div>
{% endblock %}