{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Shrink.io - Two Factor Authenticator{% endblock %}

{% block page_content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="grid-container">
    <div class="container sio-container grid-child">
        <h1>Two Factor Authentication Setup</h1>
        <p>You are almost done! Please start FreeOTP on your smartphone and scan the following QR Code with it:</p>
        <p><img id="qrcode" src="{{ url_for('auth.qrcode') }}"></p>
        <p>I'm done, take me to the <a href="{{ url_for('auth.login') }}">Login</a> page!</p>
    </div>
</div>
{% endblock %}